/* ./src/styles/Card.css */
@import url("./global.css");

.card {
    width: 423px;
    min-height: 430px;
    background-color: white;
    display: grid;
    align-items: center;
    padding: 30px;
}