@import url("./global.css");

main {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.main-header {
    box-sizing: border-box;
    padding: 20px;

    width: 100%;

    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽 요소를 양끝에 정렬 */
    align-items: center; /* 세로로 중앙 정렬 */

    font-family: 'Pretendard-Light';
    color: #999999;
    font-size: 14px;
    
    background-color: white;
}

.main-header > p {
    margin: 0; /* p 태그의 기본 마진 제거 */
}

.main-content {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 10px;

    flex: 1;
    overflow: hidden;
}

.head-menu {
    padding: 10px;
    
    color: #999999;
    text-decoration: none;
}

.menu-active {
    color: black;
}