*{
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #F3F4F7;
}


 /* font */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

.right {
    display: inline-block;
    float: right;
}

.left {
    margin: 0;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.ant-tabs-content-holder {
    margin: 0;
}