/* src/styles/InputField.css */
@import url("./global.css");

.input-field > label {
    display: block; /* 레이블을 블록 요소로 설정하여 한 줄에 표시 */
    font-family: "Pretenard-Regular";
    font-size: 14px;
}

.input-field input {
    width: 95%;
    height: 40px;
    background-color: #F7F7F7;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: "Pretendard-Regular";
    font-size: 20px;
    padding: 0 10px ;
}

/*자식 요소 간의 간격을 10픽셀로 설정*/
.input-field-half-row {
    display: flex;
    /*flex-wrap: wrap; 반응형 줄바꿈*/
    gap: 10px; /*요소 간 간격*/
    max-width: 100%;
    justify-content: space-between;
}

.input-field-half {
    /*display: inline-block; 한 줄에 나란히 표시*/
    /* display: flex; */
    flex-wrap: wrap; /*부모 요소 크기를 초과하면 줄바꿈*/
    width: 50%; /*부모 요소의 반 크기*/
    /*margin-right: 10px;*/
    margin: 0;
}

.input-field-half > label {
    font-family: "Pretenard-Regular";
    font-size: 14px;
    display: flex;
}

.input-field-half > input {
    width: 90%; /*입력 필드가 나머지 절반 크기*/
    height: 40px;
    background-color: #F7F7F7;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: "Pretendard-Regular";
    font-size: 20px;
    padding: 0 10px ;
}

.input-field-dropbox > label {
    display: block; /*레이블을 블록 요소로 설정하여 한 줄에 표시*/
    font-family: "Pretenard-Regular";
    font-size: 14px;
}

.input-field-dropbox > input {
    width: 90%;
    height: 40px;
    background-color: #F7F7F7;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: "Pretendard-Regular";
    font-size: 20px;
    padding: 0 10px ;
}
.input-field {
    margin-bottom: 10px;
}

.msg {
    color: red;
    font-family: "Pretendard-Light";
    font-size: 14px;
    height: 20px;
}

.input-field-select .ant-select {
    width: 50%;
    justify-items: start;
}