@import url("./global.css");

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.or {
    display: flex;
    align-items: center;
    justify-content: center;
}

.or > hr {
    width: 177px;
}

.or > span {
    padding: 0 20px;
}