.sidebar {
    width: 172px;
    background-color: #305CDE;
    color: white;
    padding: 20px;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
}

.user {
    margin-bottom: 20px;
}

.menu {
    color: white;
    text-decoration: none;
}

nav > p {
    padding: 10px 0;
}